* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  color: #ffffff;
  font-size: 18px;
}

i, input, select, option, img {
  cursor: pointer;
}

body {
  background-color: #242424;
}

#root {
  /* height: 100vh;
  width: 100vw; */
}

/* header */
.container {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #242424;
}

.navbar-left ul, .navbar-right ul {
  display: flex;
  align-items: center;
}

.navbar-left li, .navbar-right li {
  margin: 15px;
}

.user img {
  height: 50px;
  border-radius: 50%;
}

/* main */
main {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

/* cards */

.container-cards {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px calc((100% - (340px * 3)) / 3);
}

.cards li {
  height: 300px;
  flex: 0 0 215px;
  margin: 1em 20px;
}

.cards-front {
  width: 92%;
  height: 100%;
  background-repeat: no-repeat;
}

.cards-back {
  width: 92%;
  height: 100%;
  padding-top: 25px;
}

.flag {
  width: 25px;
}

/* cards hover */

.flip-box {
  background-color: transparent;
  width: 100%;
  height: 100%;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: #ffffff;
}

.flip-box-back {
  background-color: #242424;
  opacity: 0.8;
  color: #ffffff;
  transform: rotateY(180deg);
}
