* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

p {
  color: #ffffff;
  font-size: 18px;
}

i, input, select, option, img {
  cursor: pointer;
}

body {
  background-color: #242424;
}

#root {
  /* height: 100vh;
  width: 100vw; */
}

/* header */
.container {
  width: 100%;
  margin: auto;
}

.navbar {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #242424;
}

.navbar-left ul, .navbar-right ul {
  display: flex;
  align-items: center;
}

.navbar-left li, .navbar-right li {
  margin: 15px;
}

.user img {
  height: 50px;
}

/* main */
main {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

.container-results {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #ffffff;
}

.results li {
  margin: 10px ;
}
